body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #050504;
    padding: 10px 20px;
}
h1 {
    color: rgb(255, 244, 244);
    font-size: 24px;
    text-decoration: none;
}
#hello{
    color: rgb(0, 0, 0);
    font-size: 24px;
    text-decoration: none;
}
#about-me{
    color: rgb(0, 0, 0);
    font-size: 24px;
    text-decoration: none;
}
.nav-options {
    list-style: none;
    display: flex;
}
.nav-options a {
    color: white;
    text-decoration: none;
    padding: 8px 16px;
}

/* ################# */

.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.container.left {
    flex: 1;
    padding-right: 20px;
}
p{
    text-align: justify; 
    text-align: center;
    margin-top : 75px;
}


#Image-2 {
    /* position: absolute; */
    width: 450px;
    height: 315px;
    margin-left: 40px ;
    margin-top: 55px;
    
    border-radius: 10px;
}

.button {
    background-color: #fa9fda;
    margin-bottom: 60px;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
/* ############### */
.container-pink {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #fa9fda;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.button-2{
    background-color: #ffffff;
    margin-bottom: 60px;
    color: #fa9fda;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
